<tr id="<%= dom_id(comment) %>">
  <td class="text-top"><%= comment.content %></td>
  <td class="text-top"><%= comment.author %></td>
  <td class="text-top"><%= comment.created_at.strftime("%b %d, %Y %H:%M") %></td>
</tr>
