<% content_for :title, "Books" %>

<div class="grid-container">
  <div class="grid-row">
    <div class="grid-col-12">
      <% if notice %>
        <div class="usa-alert usa-alert--success" role="alert">
          <div class="usa-alert__body">
            <p class="usa-alert__text"><%= notice %></p>
          </div>
        </div>
      <% end %>

      <div class="margin-y-4">
        <h1 class="margin-bottom-0">Books</h1>
        <p class="usa-intro">Manage your book collection</p>
      </div>

      <div id="books" class="usa-card-group">
        <% @books.each do |book| %>
          <div class="usa-card tablet:grid-col-4">
            <div class="usa-card__container">
              <div class="usa-card__body">
                <%= render book %>
              </div>
              <div class="usa-card__footer">
                <%= link_to "View details", book, class: "usa-button usa-button--outline" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="margin-top-4">
        <%= link_to "Add new book", new_book_path, class: "usa-button" %>
      </div>
    </div>
  </div>
</div>
